@model Service;

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <form class="forms-sample" method="post" action="create">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" placeholder="Service Name">
                    <span class="text text-info" asp-validation-for="Name"></span>

                    <label asp-for="Price"></label>
                    <input asp-for="Price" class="form-control" placeholder="Service Price">
                    <span class="text text-info" asp-validation-for="Price"></span>

                    <label asp-for="Description"></label>
                    <input asp-for="Description" class="form-control" placeholder="Service Description">
                    <span class="text text-info" asp-validation-for="Description"></span>

                    <label asp-for="CategoryId"></label>
                    <input asp-for="CategoryId" class="form-control" placeholder="Service CategoryId">
                    <span class="text text-info" asp-validation-for="CategoryId"></span>
                </div>
                <button type="submit" class="btn btn-info me-2 text-light">Create</button>
                <button class="btn btn-light" asp-action="Index">Go back</button>

            </form>
        </div>
    </div>
</div>
